/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    position: relative;
    z-index: 0;
}

header {
    height: 300px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.video-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

header nav {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

header nav a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    border-radius: 5px;
}

header .hero {
    padding: 2em 0;
    position: relative;
    z-index: 2;
}

header .hero .banner {
    background-color: rgba(0, 0, 0, 0.0);
    padding: 0em;
    border-radius: 0px;
    display: inline-block;
}


header .hero .banner .name {
    margin: 0;
    color: #e37934; /* Couleur orange */
    font-size: 2em; /* Ajustez la taille de la police selon les besoins */
    font-weight: bold;
    position: relative;
}

header .hero .banner .name::before {
    content: "Félix Loubaton";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: black;
    -webkit-text-stroke: 4px white; 
    opacity: 0.8;  
}


main {
    padding: 2em;
    position: relative;
    z-index: 1;
    background-color: white;
}

.centered-text {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.centered-video {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.intro-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.text-content {
    max-width: 60%;
}

.intro-content .profile-photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: auto;
}

.intro a {
    color: #e37934;
    text-decoration: none;
}

.intro a:hover {
    text-decoration: underline;
}

.contact-info p {
    margin: 0;
}

.contact-info a {
    color: #e37934;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

h2 {
    color: #444;
    border-bottom: 2px solid #444;
    padding-bottom: 0.3em;
    margin-bottom: 1em;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5em;
}

ul li a {
    color: #e37934;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #f4f4f4;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
}
